{{- $email := promptStringOnce . "email" "Email address" -}}

format: yaml
data:
  email: {{ $email | quote }}
git:
  autoAdd: true
  autoCommit: true
  autoPush: true
merge:
  command: "bash"
  args:
  - '-c'
  - 'cp {{ "{{" }} .Target {{ "}}" }} {{ "{{" }} .Target {{ "}}" }}.base && code --new-window --wait --merge {{ "{{" }} .Destination {{ "}}" }} {{ "{{" }} .Target {{ "}}" }} {{ "{{" }} .Target {{ "}}" }}.base {{ "{{" }} .Source {{ "}}" }}'
