# vi: ft=config

if status is-interactive
    atuin init fish | source

    function fish_greeting
        neofetch
    end
end

# set config path
set -gx XDG_CONFIG_HOME ~/.config

# init mise
mise activate fish | source
zoxide init fish | source

# init gpg-agent
#set -x GPG_TTY (tty)
#set -x SSH_AUTH_SOCK (gpgconf --list-dirs agent-ssh-socket)
#gpgconf --launch gpg-agent

set -x SSH_AUTH_SOCK /home/{{ .chezmoi.username }}/.bitwarden-ssh-agent.sock

# set default editor
set -gx EDITOR nvim
set -gx VISUAL nvim

# IntelliJ IDEA
set PATH /Applications/IntelliJ\ IDEA.app/Contents/MacOS $PATH

# fzf
fzf_configure_bindings --directory=\cF

# navi
#navi widget fish | source

# Created by `pipx` on 2025-02-20 10:26:24
set PATH $PATH /Users/{{ .chezmoi.username }}/.local/bin

# Zeit DB path
set -gx ZEIT_DB ~/.config/zeit.db
