[user]
	name = CoderessDiana
  email = diana@bendziula.com
[gpg]
	program = gpg
[commit]
	gpgSign = false
[tag]
	forceSignAnnotated = false
[core]
	pager = delta
	excludesfile = ~/.gitignore
	autocrlf = input
[init]
	defaultBranch = main
[merge]
	conflictstyle = diff3
[credentials]
	helper = osxkeychain
[push]
	autoSetupRemote = true
[includeIf "gitdir:/Users/dina/dev/schwarm/"]
  path = /Users/dina/dev/schwarm/.gitconfig-schwarm
[includeIf "gitdir:/Users/dina/dev/eon/"]
  path = /Users/dina/dev/eon/.gitconfig-eon
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
