{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

brew tap fluxcd/tap
brew tap nikitabobko/tap
brew tap pulumi/tap
brew tap siderolabs/tap

brew bundle --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ end -}}
